
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>List of Services</title>
</head>
<body>
<h1>List of Services</h1>

{% for section in sections %}
<div class="section">
    <h2>{{ section.title }}</h2>
    <p>Rate: {{ section.rate }}</p>

    {% for image_obj in image_objs %}
        {% if image_obj.ID == section.ID %}
            <img src="{{ image_obj.field_name.url }}" alt="User Image">
        {% endif %}
    {% endfor %}
    <form method="GET" action="{% url 'service_details' section.ID.clientID|stringformat:'s' %}">
        {% csrf_token %}
        <button type="submit">Details</button>
    </form>    
</div>
{% endfor %}

</body>
</html>
