<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Requests</title>
</head>
<body>
  {% for request in requests %}
  <div class="request">
      <p>Company Name: {{ request.username }}</p>
      <p>Email: {{ request.email }}</p>
      <p>Phone No: {{ request.phoneNo }}</p>
      <p>Service Address: {{ request.address }}</p>
      <p>Start Date: {{ request.price }}</p>
      <form method="GET" action="{% url 'book' details.sectionID.clientID|stringformat:'s' %}">
        {% csrf_token %}
        <button type="submit">Completed</button>
        <input type="hidden" name=""> 
      </form>
  </div>
  {% endfor %}
  {% if user.is_authenticated %}
    <ul class="navbar-nav mr-auto">
       <li class="nav-item">
        <a class="nav-link" href="{% url 'logout' %}">Log out</a>
      </li>
    </ul>
  {% endif %}
</body>
</html>